body{
	color:#fff;
}
.navbar-default{
	background-image: url(../image/bg-header.png) !important;
	width: 100%;
	height: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: #fff !important;
}
.form-inline{
	float: right;
    padding-top: 8px;
}
.form-inline input[type=text] {
	    width: 260px;
	    box-sizing: border-box;
	    border-radius: 5px;
	    border: none;
	    font-size: 16px;
	    background-color: white;
	    background-position: 230px 10px; 
	    background-repeat: no-repeat;
	    padding: 10px 10px 10px 10px;
	    top:-5px;
	    position: relative;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
.ads-left img{
	display: block;
    height: 397px;
    width: 100%;
    position: absolute;
    padding-right: 10px;
    right: 0px;
}
.ads-right img{
	display: block;
    height: 397px;
    width: 100%;
    position: absolute;
    left: 30px;
}
.now-play{
	background-image: url(../image/bg-nowplay.png) !important;
	width: 100%;
	padding-top: 60px;
}
.banner-movie{
	padding-left: 0px !important;
}
.banner-movie a img{
	padding: 0px 5px 5px 5px;
}
.banner-movie img{
    height: 135px;
    width: 250px;
}
.carousel-caption{
	padding-bottom: 0px !important;
}
.play-list{
	width: 100%;
	background-image: url(../image/bg-playlist.png) !important;
}
.play-list .btn-default {
	
}
.play-list .btn-default:hover {
	background-color: #000 !important;
	color: #fff;
}
.carousel-control     		 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none !important;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -16.7%; }
	.carousel-inner .next        { left:  16.7%; }
	.carousel-inner .prev		 { left: -16.7%; }	
}

.news{
	background-image: url(../image/bg-news.png) !important;
	width: 100%;
	height: auto;
}
.news h1{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}
hr{
    width: 100%;
    border-top: 3px solid #000 !important;
}
img{
	width: 100%;
}
.news a{
}
.news a > span{
	font-size: 18px;
	color:#000;
	font-weight: bold;
	padding-bottom: 20px;
	text-align: center;
}
.news a:hover{
	text-decoration: none;
}
.footer {
  width: 100%;
  height: 100px;
  line-height:100px;
  background-color: #1d4788;
  color: #fff;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.text-muted{
	color: #fff !important;
	font-size: 12px;
	
}
.social-icon {
    color: #fff;
}
ul.social-icons {
	height: 10px;
	float: right;
}
.social-icons li {
    vertical-align: top;
    display: inline;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.social-icons a:hover {
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 750px){
	.news h1{
	text-align: center;
	margin: 0 auto;
}
    	
}